version: '3.8'
services:
  node:
    image: oersi/frontend
    build:
      context: ./
      target: runner
    command: npm run start
    ports:
      - "3000:3000"
    environment:
      NODE_ENV: production
