[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
Type=notify
# the specific user that our service will run as
User={{ oersi_user }}
Group={{ oersi_user }}
WorkingDirectory={{ oerindex_import_scripts_dir }}/python
ExecStart={{ oerindex_import_scripts_dir }}/python/venv/bin/gunicorn webservice:app
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true

[Install]
WantedBy=multi-user.target
