#!/bin/bash
# {{ ansible_managed }}
#
# Deletes the current existing oer_data in the sql database
#

if [ -z "$1" ]; then
  if [ $(systemctl list-unit-files "logstash*" | grep logstash | wc -l) -gt 0 ]; then
    PROCESS_LOGSTASH=true
  else
    PROCESS_LOGSTASH=false
  fi
else
  PROCESS_LOGSTASH=$1
fi
if [ "$PROCESS_LOGSTASH" = true ]; then
  date +"*** %Y-%m-%d %H:%M:%S logstash processing activated"
else
  date +"*** %Y-%m-%d %H:%M:%S logstash processing deactivated"
fi  

test "$PROCESS_LOGSTASH" = true && date +"*** %Y-%m-%d %H:%M:%S stop logstash" && sudo systemctl stop logstash.service

date +"*** %Y-%m-%d %H:%M:%S delete sql data"
curl --netrc-file {{ base_dir }}/conf/oer_backend_access --header 'Content-Type: application/json' -H 'Accept: application/json' -XDELETE "{{ oerindex_backend_internal_metadataapi_url }}"
curl --netrc-file {{ base_dir }}/conf/oer_backend_access --header 'Content-Type: application/json' -H 'Accept: application/json' -XDELETE "{{ oerindex_backend_internal_metadataapi_url }}" -d '{"cleanupDeleted": true, "cleanupDeletedOffset": 0}'
date +"*** %Y-%m-%d %H:%M:%S delete sql data done"

test "$PROCESS_LOGSTASH" = true && date +"*** %Y-%m-%d %H:%M:%S start logstash" && sudo systemctl start logstash.service