#!/bin/bash
# {{ ansible_managed }}
#
# Deletes the current existing metadata in the oersi-backend
#

date +"*** %Y-%m-%d %H:%M:%S delete backend metadata"
curl --netrc-file {{ base_dir }}/conf/oer_backend_access --header 'Content-Type: application/json' -H 'Accept: application/json' -XDELETE "{{ oerindex_backend_internal_metadataapi_url }}?update-public=false"
date +"*** %Y-%m-%d %H:%M:%S delete backend metadata done"
