#!/bin/bash
# {{ ansible_managed }}
#
# Create a monitoring report of the import processes and send via mail.
#
# ERRORS - number of processing errors in the process
# FAILURES - number of conspicuities in the data 
#

FAILURE_BOUND={{ oerindex_monitoring_import_failure_bound }} # send report when number of failures is greater than or equal to this bound
MAIL_RECIPIENTS={{ oerindex_monitoring_recipients }}
MAIL_FROM_ADDRESS={{ oerindex_monitoring_from_address }}

ETL_REPORT=$({{ base_dir }}/bin/monitoring-etl.sh)
IMPORTSCRIPT_REPORT=$({{ base_dir }}/bin/monitoring-import-scripts.sh)

ETL_PROCESSES=$(echo "$ETL_REPORT" | wc -l)
ETL_ERRORS=$(echo "$ETL_REPORT" | grep 'FAILED:' | wc -l)
ETL_FAILURES=$(echo "$ETL_REPORT" | gawk 'match($0, /SUCCESS: (.+), FAIL-VALIDATION: (.+), FAIL-WRITE: (.+)/, a) {failures = failures + a[2] + a[3]}END{print failures}')
ETL_SUCCESSES=$(echo "$ETL_REPORT" | gawk 'match($0, /SUCCESS: (.+), FAIL-VALIDATION: (.+), FAIL-WRITE: (.+)/, a) {successes = successes + a[1]}END{print successes}')

IMPORTSCRIPT_PROCESSES=$(echo "$IMPORTSCRIPT_REPORT" | wc -l)
IMPORTSCRIPT_ERRORS=$(echo "$IMPORTSCRIPT_REPORT" | grep 'FAILED:' | wc -l)
IMPORTSCRIPT_FAILURES=$(echo "$IMPORTSCRIPT_REPORT" | gawk 'match($0, /SUCCESS: (.+), FAIL: (.+)/, a) {failures = failures + a[2]}END{print failures}')
IMPORTSCRIPT_SUCCESSES=$(echo "$IMPORTSCRIPT_REPORT" | gawk 'match($0, /SUCCESS: (.+), FAIL: (.+)/, a) {successes = successes + a[1]}END{print successes}')

REPORT="$ETL_REPORT
$IMPORTSCRIPT_REPORT"
PROCESSES=$(($ETL_PROCESSES+$IMPORTSCRIPT_PROCESSES))
ERRORS=$(($ETL_ERRORS+$IMPORTSCRIPT_ERRORS))
FAILURES=$(($ETL_FAILURES+$IMPORTSCRIPT_FAILURES))
SUCCESSES=$(($ETL_SUCCESSES+$IMPORTSCRIPT_SUCCESSES))

SUBJECT="OERSI Import Monitoring - processes $(($PROCESSES-$ERRORS)) ok, $ERRORS error (data $SUCCESSES ok, $FAILURES failed)"

if [ "$FAILURES" -ge "$FAILURE_BOUND" ] || [ "$ERRORS" -gt "0" ]; then
  echo "Sending report ($SUBJECT)"
  echo "$REPORT" | mail -s "$SUBJECT" -r $MAIL_FROM_ADDRESS $MAIL_RECIPIENTS
else
  echo "Don't send report ($SUBJECT)"
fi
