#!/bin/bash
# {{ ansible_managed }}
#
# Show versions of oersi modules
#

echo "-------"
echo "Backend"
echo "-------"
cat {{ tomcat_home }}/webapps/oersi/WEB-INF/classes/build.info
BACKEND_COMMIT_SHA=$(grep "COMMIT_SHA=" {{ tomcat_home }}/webapps/oersi/WEB-INF/classes/build.info | cut -d'=' -f2)
BACKEND_BUILDNUMBER=$(grep "BUILDNUMBER=" {{ tomcat_home }}/webapps/oersi/WEB-INF/classes/build.info | cut -d'=' -f2)
echo "SOURCE: https://gitlab.com/oersi/oersi-backend/-/tree/${BACKEND_COMMIT_SHA}"
echo "BUILD-JOB: https://gitlab.com/oersi/oersi-backend/-/jobs/${BACKEND_BUILDNUMBER}"

echo "--------"
echo "Frontend"
echo "--------"
cat {{ oerindex_frontend_instdir }}/build.info
FRONTEND_COMMIT_SHA=$(grep "COMMIT_SHA=" {{ oerindex_frontend_instdir }}/build.info | cut -d'=' -f2)
FRONTEND_BUILDNUMBER=$(grep "BUILDNUMBER=" {{ oerindex_frontend_instdir }}/build.info | cut -d'=' -f2)
echo "SOURCE: https://gitlab.com/oersi/oersi-frontend/-/tree/${FRONTEND_COMMIT_SHA}"
echo "BUILD-JOB: https://gitlab.com/oersi/oersi-frontend/-/jobs/${FRONTEND_BUILDNUMBER}"
