<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true">
        <property name="LOG_FILE" value="${catalina.base}/logs/oersi.log" />

        <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
                <encoder>
                        <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %magenta([%thread]) %highlight(%-5level) %logger{36}.%M - %msg%n</pattern>
                </encoder>
        </appender>

        <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
                <file>${LOG_FILE}</file>
                <encoder>
                        <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36}.%M - %msg%n</pattern>
                </encoder>
                <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                        <fileNamePattern>${LOG_FILE}.%d{yyyy-MM-dd}</fileNamePattern>
                        <maxHistory>30</maxHistory>
                </rollingPolicy>
        </appender>

        <logger name="org.springframework" level="ERROR" />
        <logger name="org.oersi" level="{{ oerindex_backend_loglevel }}" />
        <root level="error">
                <appender-ref ref="FILE" />
        </root>
</configuration>