SEARCH_INDEX_BACKEND:
  url: {{ oerindex_backend_internal_metadataapi_url }}
  user: {{ oerindex_backend_oermetadata_manage_user }}
  password: {{ oerindex_backend_oermetadata_manage_password }}

http:
  useragent: "{{ application_name }}-MetadataImportBot/0.1 ({{ oerindex_host }}, https://oersi.org/resources/services/contact) {{ application_name }}-Import/0.1"

git:
  allowed_statuses: {{ oerindex_source_gitrepo_allowed_statuses | to_yaml(indent=4) }}
  features:
    rating: {{ oerindex_features_gitrepo_rating }}
    youtube_extract_videos_from_playlist: {{ oerindex_features_gitrepo_youtube_extract_videos_from_playlist}}
    versions: {{ oerindex_features_gitrepo_versions }}

youtube:
  api_key: {{ oerindex_youtube_api_key }}

{{ oerindex_import_scripts_custom_config }}