/* Here You can override the existing style  */
.header-margin {
    background-color: transparent;
}

.card-item .card {
    border-radius: 4px;
    margin-bottom: 30px;
}   

.no-gutters {
    margin-right: 0;
    margin-left: 0;
}
.no-gutters > div:first-of-type {
    background-color: none;
}

.no-gutters > div:last-of-type {
    background-color: none;
}