#!/bin/bash
# {{ ansible_managed }}
#
# Call without argument to import all configured sources or set an argument-flux-file (like 'twillo-to-oersi') to import a single source

if [ -z "$1" ]; then
  PROCESS_ARG={{ oerindex_etl_configdir }}-enabled
else
  PROCESS_ARG={{ oerindex_etl_configdir }}-enabled/${1}.flux
fi

echo "Running ETL import with $PROCESS_ARG"

export OERSI_ETL_OPTS="-Dlog4j.configuration=file:{{ oerindex_etl_configdir }}/log4j.properties"
cd {{ oerindex_etl_downloaddir }} && ./build/install/oersi-etl/bin/oersi-etl $PROCESS_ARG {{ oerindex_etl_configdir }}/oersi.properties
