# {{ ansible_managed }}
input_limit={{ oerindex_etl_input_limit }}
backend_api={{ oerindex_backend_metadataapi_url }}
backend_user={{ oerindex_backend_oermetadata_manage_user }}
backend_pass={{ oerindex_backend_oermetadata_manage_password }}