# {{ ansible_managed }}
input_limit={{ oerindex_etl_input_limit }}
output_schema={{ oerindex_backend_metadata_schema_location }}
backend_api={{ oerindex_backend_internal_metadataapi_url }}
backend_user={{ oerindex_backend_oermetadata_manage_user }}
backend_pass={{ oerindex_backend_oermetadata_manage_password }}
orca_auth={{ oerindex_etl_orca_auth }}
open_music_academy_api_url={{ oerindex_etl_open_music_academy_api_url }}
open_music_academy_api_key={{ oerindex_etl_open_music_academy_api_key }}
user_agent_header=User-Agent: OERSI-MetadataImportBot/0.1 ({{ oerindex_host }}, https://oersi.org/resources/services/contact) OERSI-Import/0.1
