# {{ ansible_managed }}
input_limit={{ oerindex_etl_input_limit }}
output_schema=resource:/schemas/schema.json
backend_api={{ oerindex_backend_internal_metadataapi_url }}
backend_user={{ oerindex_backend_oermetadata_manage_user }}
backend_pass={{ oerindex_backend_oermetadata_manage_password }}
orca_auth={{ oerindex_etl_orca_auth }}