server {
  listen       80;
  server_name  localhost;
  location ~ "^{{ oerindex_public_base_path }}/((?:[A-Za-z0-9-_]{4}+){4,}(?:[A-Za-z0-9-_]{3}=|[A-Za-z0-9-_]{2}==)?)$" {
    proxy_pass {{ oerindex_backend_internal_api_base_url }}/search/{{ elasticsearch_oer_index_alias_name }}/_doc/$1/_source;
  }
  location {{ oerindex_backend_searchapi_root_path }} {
    proxy_pass {{ oerindex_backend_internal_api_base_url }}/search/;
  }
  location {{ oerindex_backend_labelapi_root_path }} {
    proxy_pass {{ oerindex_backend_internal_api_base_url }}/label/;
  }
  location {{ oerindex_public_base_path }} {
    alias {{ oerindex_frontend_instdir }}/build;
    index  index.html;
    add_header Cache-Control "no-store, no-cache, must-revalidate"; 
  }
  location {{ oerindex_public_base_path }}/static {
    alias {{ oerindex_frontend_instdir }}/build/static;
    expires 1y;
    add_header Cache-Control "public, immutable";
  }
  location / {
    return 301 {{ oerindex_public_base_path }};
  }
  try_files $uri $uri/ /index.html;
  error_page   500 502 503 504  /50x.html;
  location = /50x.html {
    root   /usr/share/nginx/html;
  }
}
