#!/bin/bash
# {{ ansible_managed }}

export HOME="{{ logstash_dir }}"
. {{ base_dir }}/conf/oer_index.conf
export OER_INDEX_NAME
export OER_INDEX_INTERNAL_NAME

CONF_FILES="001-input_jdbc_metadata.conf 002-deletion.conf"
for CONF in $CONF_FILES; do
  cp {{ logstash_settings_dir }}/pipelines/$CONF {{ logstash_settings_dir }}/pipelines/${CONF}.original
  sed -i 's/.*schedule =>.*//g' {{ logstash_settings_dir }}/pipelines/$CONF
done

sudo --preserve-env -u logstash sh -c '{{ logstash_dir }}/bin/logstash "--path.settings" "{{ logstash_settings_dir }}"'

for CONF in $CONF_FILES; do
  mv {{ logstash_settings_dir }}/pipelines/${CONF}.original {{ logstash_settings_dir }}/pipelines/$CONF
done
